* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /* CONTAINER */
  .resume .container{
    background:white;
    display:flex;
    align-items:center;
    border-bottom:5px solid black;
    padding:32px 0;
    max-width:120rem;
    margin:0 auto;
    width:100%;
  }
  .resume .resume__img img{
    width:400px; 
  }
  .resume .resume__name h2{
    font-size:32px;
    font-weight:800;
  }


  /* Education */
  .education .education__container{
    max-width:120rem;
    margin:0 auto;
    border-bottom:5px solid black;
    padding:32px 0;
  }
  .education h2{
  font-size:3rem;
  font-weight:600;
  margin-bottom:3rem;
  }
  .education table tr td{
    font-size:2rem;
  }
  .education table tr td:first-child{
    font-weight:600;
  }
  .education table{
    width:100%;
  }
  .education table tr{
    height:5rem;
  }


  /* Contact */
  .contact ul li a img{
    max-width:5rem;
  }
  .contact ul{
    display:flex;
    align-items:center;
    gap:3rem;
  }
  .contact .contact__container{
    max-width:120rem;
    margin:0 auto;
    border-bottom:5px solid black;
    padding:32px 0;
  }